# Database connection
DATABASE_URL=postgresql://user:password@localhost:5432/example


# Cloudinary config 
VITE_CLOUDINARY_NAME=cloudinary-name
VITE_UPLOAD_PRESET=cloudinary-preset
VITE_API_KEY=cloudinary-api-key
VITE_API_SECRET=cloudinary-secret-key